@{
    ViewBag.Title = "Rules";
}

<div class="col-md-12">
    <h1 class="text-center text-danger">Rules of the site</h1>

    <p><b>1.1.</b> Tipsters can participate on the BettingAdvice.com main site after submitting their application and approval by the admins of the site</p>
    <p><b>1.2.</b> One person (household) can have only one account</p>
    
    <h1 class="text-danger text-center">Awards system</h1>

    <p><b>2.1.</b> BettingAdvice does not run a tipster competition. Users are awarded by the BettingAdvice tipsters community if their contribution (not necessarily depending on results, number of picks etc.) is found valuable for the site and the betting public. Every month all tipsters with an active account receive a small amount as credits they can spend to award other tipsters entirely and by their own decision. All amounts are met in cash by BettingAdvice and paid via Skrill, Paypal or Neteller. The awards system is explained in details on this link which is undivided part of these rules;</p>

    <h1 class="text-danger text-center">Picks</h1>

    <p><b>3.1.</b> Picks can be only single bets that can be made on games (no outrights) in the following sports:</p>

    <p>Football; tennis; basketball; ice hockey; handball; volleyball; baseball; American football; futsal; water polo; combat sports (MMA, boxing); Rugby Union; Rugby League; bandy; floorball; cricket; darts; snooker</p>
    <p><b>3.2.</b> The available bookmakers are explicitly pointed in the dropdown menu when entering a pick. Using odds from any other bookmakers is not allowed;</p>
    <p><b>3.3.</b> The possible betting options are:<p>

    <p>1X2 / Moneyline</p>
    <p>Under / Over</p>
    <p>Asian Handicap (spread)</p>
    <p>Euro (3-way) Handicap;</p>
    <p>Both to score</p>
    <p>Half time / Full time</p>
    <p>Double Chance</p>
    <p>Draw No Bet</p>

    <p>* Picks using the above options can be only bets to be decided by the score of the game, unless other specified below. Any special bets involving for example cards, corners, player performance in team sports, tiebreaks, penalties, combination of bets etc. are not accepted.</p>
    <p>* Football picks apply to the regular time (90 minutes) only and not featuring possible extra time. Overtime can count for other sports depending on the bookie's conditions.</p>
    <p>* Under / Over picks can be made on the total score of the game, the result of any of the two competing sides (as team totals or player totals in individual sports as tennis, darts and snooker), number of rounds in combat sports.</p>
    <p>* Picks can refer to the final result of the game or the score in some of the official parts of the regular time (half, set, quarter).</p>
    <p>* Picks on exact score are possible for tennis and volleyball as an exception from the default rule.</p>

    <p><b>3.4.</b> Picks are settled according to the rules of the bookmaker used for the pick;</p>
    <p><b>3.5.</b> Picks must be posted at least 1 hour before the start of the game;</p>
    <p>
        <b>3.6.</b> One tipster can publish max. 3 picks for games referred to one and the same date;
    </p>
    <p>
        <b>3.7.</b> One tipster can make only one pick for one and the same game;
    </p>
    <p>
        <b>3.8.</b> Odds can't be lower than 1.50 and higher than 10.00;
    </p>
    <p>
        <b>3.9.</b> The odds*stake product can't be higher than 30.00;
    </p>
    <p>
        <b>3.10.</b> Games can be referred to a certain date either by their starting time in Central European Time (CET / CEST) or the local time of the game;
    </p>
    <p>
        <b>3.11.</b> Every pick must have a proper explanation (analysis) in English containing enough information and reasons supporting the recommended bet;
    <p>
        <b>3.12.</b> Copy-pasting of analyses, match previews etc. from other sites is not allowed unless originating from the same tipster;
    </p>
    <p>
        <b>3.13.</b> Tipsters are free to publish their picks on other sites too;
    </p>
    <p>
        <b>3.14.</b> Before submitting a pick the tipster must check the actual odds on the bookmaker's site and not relying entirely on the data provided by 3rd parties as odds comparison services, for example
    </p>

    <h1 class="text-danger text-center">Cancelling / deleting picks</h1>
    <p><b>4.1.</b> The admins can (but not obliged to) cancel, delete or modify picks breaching any of the above rules;</p>
    <p><b>4.2.</b> No matter of the possible margin of understanding (and depending on the case) tipsters are required to do their best for sticking to the posting rules;</p>

    <h1 class="text-danger text-center">Promoting paid services</h1>
    <p><b>5.1.</b> Tipsters are allowed to promote paid services only if any claimed stats, records etc. can be confirmed by a reliable 3rd party source;</p>

    <h1 class="text-danger text-center">Disabling / deleting tipster accounts</h1>
    <p><b>6.1.</b> The admins can disable or delete accounts of tipsters:</p>
    <p> repeatedly breaching any of the above rules;</p>
    <p>
        - acting against the common understanding of good manners on the site;
    </p>
    <p>
        - abusing the awards system;
    </p>
    <p>
        - releasing picks of poor quality (as arguments, ortography etc.);
    </p>
    <p>
        - not active (no picks published) for a period of one year or longer.
    </p>
    <p>   <b>6.1.</b> In case the tipster's account has been disabled or deleted any pending cash balance is forfeited.</p>

</div>