@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin-top:6em">
    <div class="col-md-12 text-center">
        <h1><i>Wellcome on Betting Advice</i></h1>
    </div>
</div>

<div class="row" style="margin-top:2em">
    <div class="col-md-12 text-center">
        <i>
            <h1> If you want to see betting advice </h1>
            <h1> You must to REGISTAR or LOG IN </h1>
        </i>
    </div>
</div>

<div class="row" style="margin-top:3em">
    <div class="col-md-4"></div>
    <div class="col-md-2 text-center">
        <a href="http://localhost:57494/Account/Register">
            <button class="btn btn-primary btn-block btn-lg">Register</button>
        </a>
    </div>
    <div class="col-md-2">
    <a href="http://localhost:57494/Account/Login">
    <button class="btn btn-primary btn-block btn-lg">Log in</button>
    </a>
    </div>
    <div class="col-md-4"></div>
</div>